* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 24px;
}
body main .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body main .wrapper .container {
    height: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
